<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<style>
.inline {
display:inline-block;
}
</style>

<head>
    <meta charset="UTF-8">
    <title>Product info</title>

</head>
<body>
Adding product to cart
<br/>
<ul th:object="${product}">

   <li> Id: <p class="inline" th:text="${product.getId()}"/></li>
   <li> Name: <p class="inline" th:text="${product.getName()}"></p></li>
   <li> Description: <p class="inline" th:text="${product.getShortDescription()}"></p></li>
   <li> Price: <p class="inline" th:text="${product.getPrice()}"></p></li>

</ul>

<form th:method="POST" th:action="@{/cart/${user}/cart}" th:object="${cartRecord}">
    <p type="text" id="user" th:value="${principalName}"/>
    <p type="text" id="product" th:value="${product.getId()}"/>

    <label for="quantity">Quantity: </label>
    <input type="text" id="quantity" th:value="${quantity}">
    <!--    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>-->
    <br/>
    <br/>
    <br/>
    <input type="submit" value="Add to cart"/>
</form>

<br/>

<a th:href="@{/user}">
    <input type="submit" value="Go to products"/>
</a>
<!---->
</body>
</html>