<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<style>
.inline {
display:inline-block;
}
</style>

<head>
    <meta charset="UTF-8">
    <title>Add to cart</title>

</head>
<body>
Adding product to cart

<br/>

<br/>

<form th:method="POST" th:action="@{/users}">

    Post method

    <ul th:object="${product}">

        <li> <label for="product_id"> Id: </label>
            <input name="product_id" type="text" class="inline" th:value="${product.getId()}" id="product_id" readonly />
        </li>
        <br/>
        <li> <label for="name"> Name: </label>
            <input type="text" class="inline" th:field="*{name}" id="name" readonly />
        </li>
        <br/>
        <li> <label for="description"> Description: </label>
            <input type="text" class="inline" th:field="*{shortDescription}" id="description" readonly />
        </li>
        <br/>
        <li> <label for="price"> Price: </label>
            <input type="text" class="inline" th:field="*{price}" id="price" readonly />
        </li>
    </ul>
        <br/>
    <br/>
    <label for="quantity">Quantity: </label>
        <input name="quantity" type="text" th:value="${quantity}" id="quantity"/>
    <!--    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>-->
    <br/>
    <br/>
    <input type="submit" value="Add to cart"/>

</form>

<br/>

<a th:href="@{/users/products}">
    <input type="submit" value="Go to products"/>
</a>
<!---->
</body>
</html>