<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>

<br>
Cart of user <td th:text="${login}"></td>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>ShortDescription</th>
    </tr>
    <th:block th:each="cartProduct : ${cartProducts}">
        <tr>
            <td th:text="${cartProduct.getId()}"></td>
            <td th:text="${cartProduct.getName()}"></td>
            <td th:text="${cartProduct.getPrice()}"></td>
            <td th:text="${cartProduct.getShortDescription()}"></td>
        </tr>
    </th:block>
</table>
<br>

<a href="javascript:history.back()">
    <input type="submit" value="Go back"/>
</a>
</body>
</html>