<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>

<br>
Cart of user <td th:text="${login}"></td>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>ShortDescription</th>
        <th>Quantity</th>
    </tr>
    <th:block th:each="product : ${cart}">
        <tr>
            <td th:text="${product.key.getId()}"></td>
            <td th:text="${product.key.getName()}"></td>
            <td th:text="${product.key.getPrice()}"></td>
            <td th:text="${product.key.getShortDescription()}"></td>
            <td th:text="${product.value}"></td>
            <td>
                <form th:method="DELETE" th:action="@{'/users/' + ${product.key.getId()}}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>

    </th:block>

</table>
<br>

<a th:href="@{/users/products}">
    <input type="submit" value="Go to products"/>
</a>

<!--<a th:href="@{'/users/' + ${userId} + '/products/' + ${product.key.getId()} }">-->
<!--    <input type="submit" value="Add to cart"/>-->
<!--</a>-->
</body>
</html>