<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<style>
        .menu {
            background: #004f8b; /* Цвет фона */
            color: white; /* Цвет текста */
            padding: 2px; /* Поля вокруг текста */
            margin-top: 5px; /* Отступ сверху */
            margin-bottom: 5px; /* Отступ снизу */
            display: inline-block;
        }


</style>

<head>
    <meta charset="UTF-8">
    <title>All products</title>
    <div class="menu">
        <h3 class="menu">ONLINE STORE pic</h3>
        <h3 class="menu">
            Hello,
            <td th:text="${principalName}"></td>
            !
        </h3>
    </div>
</head>

<body>
<br>
<a th:href="@{'/users/' + ${userId} + '/cart'}">
    <input type="submit" value="Cart"/>
</a>
<br>
<a th:href="@{'/users/' + ${userId} + '/edit'}">
    <input type="submit" value="Edit account"/>
</a>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>
<br>
<hr/>
<form th:action="@{'/users/' + ${userId} + '/products?filter=' + ${filter}}">
    Filter: <input type="text" name="filter" size="50"/>
    <a th:href="@{'/users/' + ${userId} + '/products?filter=' + ${filter}}">
        <input type="submit" value="Search"/>
    </a>
</form>
<hr/>
<h4 th:if="${filter.length()}">
    Search results for:
    <data th:text="${filter}"/>
</h4>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>ShortDescription</th>
        <th>CreationDate</th>
        <th>UpdateDate</th>
        <th></th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.getId()}"></td>
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getShortDescription()}"></td>
            <td th:text="${product.getCreationDate()}"></td>
            <td th:text="${product.getUpdateDate()}"></td>
            <td>
<!--                <a th:href="@{/user/{id}(id=${product.getId()})}">-->
                <a th:href="@{/users/products/{id}(id=${product.getId()})}">
                    <input type="submit" value="See details"/>
                </a>
            </td>

            <!--            <td>-->
            <!--                <a th:href="">-->
            <!--                    <input type="submit" value="Add to cart"/>-->
            <!--                </a>-->
            <!--            </td>-->

        </tr>
    </th:block>
</table>
</body>
</html>