<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <p th:text="${product.getId()}"></p>
    <p th:text="${product.getName()}"></p>
    <p th:text="${product.getShortDescription()}"></p>
    <p th:text="${product.getDetailDescription()}"></p>
    <p th:text="${product.getPrice()}"></p>
<br>
    <label for="quantity">Quantity: </label>
    <input type="text" th:field="*{quantity}" id="quantity">
<!--    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>-->

        <form th:action="@{/user/addProductToCart/{id}(id=${product.getId()})}">
            <input type="submit" value="Add to cart"/>
        </form>

    <a th:href="@{/user}">
        <input type="submit" value="Go to products"/>
    </a>
</body>
</html>