<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <p th:text="${product.getId()}"></p>
    <p th:text="${product.getName()}"></p>
    <p th:text="${product.getShortDescription()}"></p>
    <p th:text="${product.getDetailDescription()}"></p>
    <p th:text="${product.getPrice()}"></p>
<br>

<!--        <form th:method="DELETE" th:action="@{/products/{id}(id=${product.getId()})}">-->
        <form th:action="@{/user/addProductToCart/{id}(id=${product.getId()})}">
            <input type="submit" value="Add to cart"/>
        </form>

    <!--    <td>-->
<!--        <a th:href="">-->
<!--            <input type="submit" value="Add to cart"/>-->
<!--        </a>-->
<!--    </td>-->

    <a href="javascript:history.back()">
        <input type="submit" value="Go back"/>
    </a>
</body>
</html>