<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<style>
        .menu {
            background: #004f8b; /* Цвет фона */
            color: white; /* Цвет текста */
            padding: 2px; /* Поля вокруг текста */
            margin-top: 5px; /* Отступ сверху */
            margin-bottom: 5px; /* Отступ снизу */
            display: inline-block;
        }




</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/resources/static/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/resources/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>All products</title>
</head>

<body>
<div th:insert="/admin/products/admin_product_fragments :: admin_navbar"></div>

<div th:if="${view} eq ''">
    <div th:insert="/admin/products/admin_product_fragments :: product_index_list"></div>
</div>

<div th:if="${view} eq 'list'">
    <div th:insert="/admin/products/admin_product_fragments :: product_index_list"></div>
</div>

<div th:if="${view} eq 'grid'">
    <div th:insert="/admin/products/admin_product_fragments :: product_index_grid"></div>
</div>

<script th:src="@{/resources/static/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>