<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User details</title>
</head>
<body>
<p th:text="${user.getName()}"></p>
<p th:text="${user.getLogin()}"></p>
<p th:text="${user.getPassword()}"></p>
<p th:text="${user.getRole()}"></p>
<a th:href="@{/users/{login}/edit(login=${user.getLogin()})}">
    <input type="submit" value="Edit user"/>
</a>
<form th:method="DELETE" th:action="@{/products/{login}/edit(login=${user.getLogin()})}">
    <input type="submit" value="Delete user"/>
</form>


</body>
</html>