<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <p th:text="${product.getId()}"></p>
    <p th:text="${product.getName()}"></p>
    <p th:text="${product.getShortDescription()}"></p>
    <p th:text="${product.getDetailDescription()}"></p>
    <p th:text="${product.getPrice()}"></p>
    <a th:href="@{/products/{id}/edit(id=${product.getId()})}">
        <input type="submit" value="Edit product"/>
    </a>
<form th:method="DELETE" th:action="@{/products/{id}(id=${product.getId()})}">
    <input type="submit" value="Delete"/>
</form>

    <a href="javascript:history.back()">
        <input type="submit" value="Go back"/>
    </a>
</body>
</html>