<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/home/users/new}" th:object="${user}">
    <label for="login">Login: </label>
    <input type="text" th:field="*{login}" id="login"/>
        <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
    <br/>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br/>
    <input type="submit" value="Save"/>
</form>
<br/>
<a th:href="@{/home/products}">
    <input type="submit" value="Cancel"/>
</a>
</body>
</html>