<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!--    <link href="views/styles/product_style.css" rel="stylesheet">-->
    <meta charset="UTF-8">
    <title>All products</title>
</head>

<body>
<a th:href="@{/products/new}">
    <input type="submit" value="Add product"/>
</a>
<hr/>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.getId()}"></td>
            <td th:text="${product.getName()}"></td>
            <td>
                <a th:href="@{/products/{id}(id=${product.getId()})}">
                    <input type="submit" value="See details"/>
                </a>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>