<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/resources/static/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/resources/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>Cart record</title>
</head>

<body>

<div th:insert="/admin/users/admin_user_fragments :: admin_navbar_for_card"></div>

<div class="container-fluid p-3">
    <h3>
        <span class="badge bg-light rounded-pill" style="color:#5e5ec9;">
            <i class="bi bi-pencil"></i> Change quantity
        </span>
    </h3>
</div>

<form th:method="PATCH" th:action="@{'/admins/' + ${user_id} + '/cart/products/' + ${productId}}" th:object="${cartRecord}">
    <input type="hidden" name="_method" value="PATCH">

    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-2">
                <button type="button" class="btn btn-outline-secondary">
                    Product id: <span class="badge bg-light  text-dark" th:text="${productId}"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-2">
                <button type="button" class="btn btn-outline-secondary">
                    Product name: <span class="badge bg-light  text-dark" th:text="${productName}"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-outline-secondary">
                    Description: <span class="badge bg-light  text-dark" th:text="${productDescription}"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-2">
                <button type="button" class="btn btn-outline-secondary">
                    Price: <span class="badge bg-light  text-dark" th:text="${productPrice}"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-sm-1">
                <input type="number" min="1" th:field="*{quantity}" id="quantity" class="form-control"
                       aria-describedby="quantityHelpInline">
                <div class="alert alert-danger" role="alert" style="color:red"
                     th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-3">
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-outline-dark" style="float:left; margin-left:20px;">
                    Update
                </button>
                <a th:href="@{'/admins/' + ${user_id} + '/cart/products'}">
                    <input class="btn btn-outline-dark" type="button" style="float:left; margin-left:20px;"
                           value="Cancel"/>
                </a>
            </div>
        </div>
    </div>
    </div>
</form>

</body>
</html>