<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{'/admins/' + ${admin_id} + '/users/' + ${user_id}}" th:object="${user}">
    <input type="hidden" name="_method" value="PATCH">

    Id: <p th:text="${user_id}"/>
    <br/>
    <label for="login">Login: </label>
    <input type="text" th:field="*{login}" id="login" readonly>
    <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
    <br/>
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password">
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br/>

    <label for="role">Role: </label>
    <select name="role" id="role">
        <option th:each="roleOpt : ${T(by.karas.onlinestore.models.Role).values()}"
                th:value="${roleOpt}" th:text="${roleOpt}"></option>
    </select>

    <br/>
    <br/>
    <input type="submit" value="Update">
    <br/>
    <br/>
</form>

<a th:href="@{'/admins/' + ${admin_id} + '/users'}">
    <input type="submit" value="Cancel">
</a>
</body>
</html>